.ipynb_checkpoints/*
HelperBot.ipynb
__pycache__/*
file.txt
misc/help_script.py
misc/serializer.py
/misc/test_bot.py
data/queue.data
data/bot_state.data
data/owners.data
data/registered.data
logs/*
.pylint.d/*
run_test_bot.py
misc/show_data.py
drive_sample.py
queue-bot-key.json
drive_data/*
/DataReformatter.ipynb
/data/queue_state.data
.spyproject/
queue_bot/__pycache__/
queue_bot/languages/__pycache__/
test_data/
/test_bot.py
/data_backup/
